@charset "UTF-8";

* {
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}



table{
    margin: 0 auto;
}

th{
    padding: 10px;
    background-color: aquamarine;
}

td{
    background-color: azure;
}